<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/NexTech-logos_transparent_fav.png">
    <title>Document</title>
    <style>
        #cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 130px;
}

#cart table td:nth-child(1){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 200px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 300px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 200px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    height: 35px;
    padding-bottom: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button{
    width: 70px;
    border: 0px;
    height: 35px;
    border-radius: 2px;
    background-color: #088178;
    color: #fff;
    cursor:pointer;
    transition: 0.2s ease;
}

#subtotal button{
    width: 150px;
    border: 0px;
    height: 35px;
    border-radius: 2px;
    background-color: #088178;
    color: #fff;
    cursor:pointer;
    transition: 0.2s ease;
}

#coupon button:hover,
#subtotal button:hover{
    background-color: #465b52;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13;
}
    </style>
</head>
<body>
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="lni lni-cross-circle"></i></a></td>
                    <td><img src="img/products/714+DsKIF4L._SL1500_.jpg"> </td>
                    <td>GTX 1650 8gb VRAM</td>
                    <td>₹15,000</td>
                    <td><input type="number" value="1"></td>
                    <td>₹15,000</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="lni lni-cross-circle"></i></a></td>
                    <td><img src="img/products/714+DsKIF4L._SL1500_.jpg"> </td>
                    <td>GTX 1650 8gb VRAM</td>
                    <td>₹15,000</td>
                    <td><input type="number" value="1"></td>
                    <td>₹15,000</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="lni lni-cross-circle"></i></a></td>
                    <td><img src="img/products/714+DsKIF4L._SL1500_.jpg"> </td>
                    <td>GTX 1650 8gb VRAM</td>
                    <td>₹15,000</td>
                    <td><input type="number" value="1"></td>
                    <td>₹15,000</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
        <div id="subtotal">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>₹45,000</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>₹45,000</strong></td>
                </tr>
            </table>
            <button class="normal">Proceed to Checkout</button>
        </div>
    </section>
    <hr>
</body>
</html>