<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link href="your-project-dir/icon-font/lineicons.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <title>Document</title>
    <style>
        footer{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: #e3e6f3;
        }
        footer .col{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom:20px;
        }
        footer .logo{
        margin-bottom: 30px;
        }
        footer h4{
        font-size:14px;
        padding-bottom: 20px;
        }
        footer p{
        font-size:13px;
        margin: 0 0 8px 0;
        }
        footer a{
        font-size:13px;
        text-decoration: none;
        color:#222;
        margin:0 0 8px 0;
        }
        footer .follow i{
        color: #465b52;
        padding-right:4px;
        cursor:pointer;
        }
        footer .follow i:hover,
        footer a:hover{
        color:#088178;
        }
    </style>
</head>
<body>
    <footer class="section-p1">
        <div class="col">
            <img src="img/NexTech-logos_transparent.png" alt="NexTech Logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 67th Milestone, NH 48, Kapriwas, Haryana 122413 </p>
            <p><strong>Phone:</strong>+91 9999 999 999, +91 0000 000 000</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="lni lni-facebook-filled"></i>
                    <i class="lni lni-instagram-filled"></i>
                    <i class="lni lni-twitter-filled"></i>
                    <i class="lni lni-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="contact">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="contact">Contact US</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="Join-Us">Sign In</a>
            <a href="cart">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
    </footer>
</body>
</html>